<header class="jumbotron text-center text-white burger-header">
    <h1 class="display-3 burger-heading">Eat Da Burger!</h1>
    <hr>
    <h2 class="mb-4">Enter the name of a burger you would like to add and click the devour button to eat the
        burger!</h2>
</header>

<main class="container">

    <!-- Display burgers -->
    <section class="row">

        <!-- Burgers that are not devoured -->
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Burgers to eat</h3>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <li class="list-group-item">{{id}}. {{burger_name}} <button class="btn btn-success btn-sm float-right devourButton"
                                data-burger-id="{{id}}">Devour</button></li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Burgers that are devoured -->
        <div class="col-sm-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Burgers devoured</h3>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#if devoured}}
                        <li class="list-group-item">{{id}}. {{burger_name}}</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <!--Add a burger section -->
    <section class="row mb-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add a new burger</h3>
                    <form id="addBurgerForm" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" name="burgerName" placeholder="Enter a Burger Name"
                                required>
                            <div class="invalid-feedback">
                                Please enter a burger name.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Add Burger</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>